.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    color: white;
    padding: 20px;
}
.text-wrapper{
    margin-top: 15vh;
    margin-left: 15px;
    width: 50%;
}
.btn{
    margin-left: 15px;
}
.navbar{
    background: transparent;
    z-index: 1;
    position: relative;
    top:0;
}
img{
    position: absolute;
    top: 0;
}